.productShowcase{

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(225, 192, 142);
  padding: 50px;
  margin-top: 30px;
}
.image{
  height: 300px;
  width: 300px;
}

@media (max-width:768px) {
  .productShowcase{
    display: flex;
    flex-direction: column;
    margin-top: 400px;
  }
  
}